body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: rgb(147, 198, 246);

  }
  

  .heading{

    position: relative;
    margin-bottom: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: rgb(148, 230, 255);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .img1{

    position: relative;
    left: 60px;
    margin-top: 100px;
  }

  .intro{

    position: relative;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(58, 243, 212);
    width: 600px;
    padding: 20px;
    bottom: 350px;
    left:1100px;
   
  }

  .goals{

    margin-left: 50px;
    margin-right: 50px;
    margin-top: -100px;
    margin-bottom: 100px;
    background-color: rgb(5, 168, 168);
  }

  .goals p{

    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .goals h3{

    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-line: underline;
  }
  
  .img2{

    position: relative;
    left: 1200px;
    top: 100px;
  }